<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Heaven</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: Arial, sans-serif;
    }
    .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.5em; 
  color: white;
}

    h3 {
      color: blue;
      text-align: center;
      margin-bottom: 30px;
    }
    p {
      cursor: pointer;
      color: green;
      text-align: center;
    }
    form {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 120px;
      margin-bottom: 80px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input, select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    button {
      background-color: #007bff;
      color: white;
      width: 100%;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #0056b3;
    }
    .error {
      color: red;
      font-size: 0.9em;
      margin-top: -10px;
      margin-bottom: 15px;
    }
    .hidden {
      display: none;
    }
    footer {
      text-align: center;
      margin-top: 30px;
      padding: 10px 0;
      background-color: #f1f1f1;
      border-top: 1px solid #ccc;
      font-size: 0.9em;
      color: #666;
    }
  </style>
</head>
<body>

    <div class="navbar">
        <div class="logo">Tech Heaven</div>
      </div>
      

  <form id="signupForm"  onsubmit="handleFormSubmit(event)">
    
    <label for="email">Your Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email">
    <p id="emailError" class="error hidden"></p>

    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" name="fullName" placeholder="Enter your full name">
    <p id="nameError" class="error hidden"></p>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password">
    <p id="passwordError" class="error hidden"></p>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
    <p id="confirmError" class="error hidden"></p>

    <label for="addressLine1">Address Line 1:</label>
    <input type="text" id="addressLine1" name="addressLine1" placeholder="Enter your address line 1">
    <p id="addressLine1Error" class="error hidden"></p>

    <label for="addressLine2">Address Line 2:</label>
    <input type="text" id="addressLine2" name="addressLine2" placeholder="Enter your address line 2 (optional)">
    <p id="addressLine2Error" class="error hidden"></p>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" placeholder="Enter your city">
    <p id="cityError" class="error hidden"></p>

    <label for="state">State/Province:</label>
    <input type="text" id="state" name="state" placeholder="Enter your state or province">
    <p id="stateError" class="error hidden"></p>

    <label for="zip">ZIP/Postal Code:</label>
    <input type="text" id="zip" name="zip" placeholder="Enter your ZIP or postal code">
    <p id="zipError" class="error hidden"></p>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" placeholder="Enter your country">
    <p id="countryError" class="error hidden"></p>

    <button type="submit">Submit</button>
  </form>

  <footer>
    &copy; 2024 AbdulSattar Majid. All rights reserved.
  </footer>

<script>
  async function handleFormSubmit(event) {
    event.preventDefault(); 

    const isValid = await validateForm();
    if (!isValid) {
      return;
    }; 

    const formData = {
      email: document.getElementById('email').value.trim(),
      fullName: document.getElementById('fullName').value.trim(),
      password: document.getElementById('password').value.trim(),
      confirmPassword: document.getElementById('confirmPassword').value.trim(),
      addressLine1: document.getElementById('addressLine1').value.trim(),
      addressLine2: document.getElementById('addressLine2').value.trim(),
      city: document.getElementById('city').value.trim(),
      state: document.getElementById('state').value.trim(),
      zip: document.getElementById('zip').value.trim(),
      country: document.getElementById('country').value.trim()
    };

    try {
      const response = await fetch('http://localhost:3000/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      });
      
      if (response.ok) {
        const result = await response.json();
        alert('Sign-up successful!');
        window.location.href='http://localhost:5173/shop'
      } else {
        const errorResult = await response.json();
        if (response.status === 400 && errorResult.message === 'Email is already in use.') {
          alert('Failed: The email is already in use.');
        } else {
          alert('There was an error submitting the form.');
        }
      }
    } catch (error) {
      console.error('Error:', error);
      alert('There was an error submitting the form.');
    }
  }

  async function validateForm() {
    let isValid = true;

    document.querySelectorAll('.error').forEach(function(errorElement) {
      errorElement.classList.add('hidden');
    });

    const email = document.getElementById('email').value.trim();
    const name = document.getElementById('fullName').value.trim();
    const password = document.getElementById('password').value.trim();
    const confirmPassword = document.getElementById('confirmPassword').value.trim();
    const addressLine1 = document.getElementById('addressLine1').value.trim();
    const city = document.getElementById('city').value.trim();
    const state = document.getElementById('state').value.trim();
    const zip = document.getElementById('zip').value.trim();
    const country = document.getElementById('country').value.trim();

    if (email === '') {
      document.getElementById('emailError').textContent = "Please fill in your email.";
      document.getElementById('emailError').classList.remove('hidden');
      isValid = false;
    }

    if (name === '') {
      document.getElementById('nameError').textContent = "Please fill in your full name.";
      document.getElementById('nameError').classList.remove('hidden');
      isValid = false;
    }

    if (password === '') {
      document.getElementById('passwordError').textContent = "Please fill in your password.";
      document.getElementById('passwordError').classList.remove('hidden');
      isValid = false;
    } else if (password.length < 8 || !/[A-Z]/.test(password) || !/[a-z]/.test(password) || !/[0-9]/.test(password) || !/[!@#$%^&*]/.test(password)) {
      document.getElementById('passwordError').textContent = "Password must be at least 8 characters long, with a mix of uppercase, lowercase, numbers, and special characters.";
      document.getElementById('passwordError').classList.remove('hidden');
      isValid = false;
    }

    if (confirmPassword === '') {
      document.getElementById('confirmError').textContent = "Please confirm your password.";
      document.getElementById('confirmError').classList.remove('hidden');
      isValid = false;
    } else if (password !== confirmPassword) {
      document.getElementById('confirmError').textContent = "Passwords do not match.";
      document.getElementById('confirmError').classList.remove('hidden');
      isValid = false;
    }

    if (addressLine1 === '') {
      document.getElementById('addressLine1Error').textContent = "Please fill in your address line 1.";
      document.getElementById('addressLine1Error').classList.remove('hidden');
      isValid = false;
    }

    if (city === '') {
      document.getElementById('cityError').textContent = "Please fill in your city.";
      document.getElementById('cityError').classList.remove('hidden');
      isValid = false;
    }

    if (state === '') {
      document.getElementById('stateError').textContent = "Please fill in your state or province.";
      document.getElementById('stateError').classList.remove('hidden');
      isValid = false;
    }

    if (zip === '') {
      document.getElementById('zipError').textContent = "Please fill in your ZIP or postal code.";
      document.getElementById('zipError').classList.remove('hidden');
      isValid = false;
    }

    if (country === '') {
      document.getElementById('countryError').textContent = "Please fill in your country.";
      document.getElementById('countryError').classList.remove('hidden');
      isValid = false;
    }

    return isValid;
  }
</script>
</body>
</html>
